---
layout: default
title: "All Blogs"
---

<div id="table-default" class="table-responsive">
    <table class="table table-vcenter card-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Tags</th>
                <th>Catagories</th>
            </tr>
        </thead>
        <tbody class="table-tbody">
            {% for post in site.posts %}
            <tr>
                <td class="text-indigo">{{ post.date | date: "%Y-%m-%d "  }}</td>
                <td class="">
                    <!-- <td class="text-teal"> -->
                    <a class="text-teal" href="{{post.url}}">{{ post.title }}</a>
                    </td>
                    <td class="">
                        {% for t in  post.tags %} 
                        <span class="badge bg-lime-lt">{{ t }}</span>
                        {% endfor%}</td>
                    <td class=""><center class="badge bg-yellow-lt">{{ post.categories }}</center></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--
    {% for post in site.posts %}
    <div class="">
    {{ post.date | date: "%Y-%m-%d "  }}   |
    <a href="{{post.url}}" title="{{ post.title }}">{{ post.title }}</a>
    </div>
    {% endfor %}
-->
