
/* for all pages 1024px */
.container-xl{
    max-width:1024px;
}

/*  post content  */
.post-content {
    /*font-family: 'Source Serif Pro', 'Songti SC', 'SimSun', 'Serif', serif;*/
    font-family: 'Noto Serif SC', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.post-content h1{
  border-bottom: gray solid 1px;
  padding-bottom: 5px;
  font-weight: bold;
}

/* text-center */
.text-center h1{
	font-size: 25px;
}

/* font size for code */
pre.highlight {
    font-size: 0.85rem;
}

